/* base element styles */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

header {
    background-color: #FAFAFA;
    padding: 1em 0;
}

main {
    background-color: #FFFFFF;
}

footer {
    background-color: #FAFAFA;
}

h1 {
    margin: 0;
}

.pf-imgs {
    max-width: 100%;
}

h1,
.main-nav li{
    text-align: center;
    display: block;
    padding: 10px 15px;
    margin: 15px 0px;
}

.main-nav li{
    background-color: #FFFFFF;
    font-size: 2em;
}

.pf-pic {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}


/* media queries */

    @media only screen and (min-width: 768px) {
        
        .container {
            width: 70%;
            max-width: 1000px;
            margin: 0 auto;
        }
   
    }
       

    @media only screen and (min-width: 1024px) {

    }