/* base element styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
}

header {
    background-color: #FAFAFA;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

h1,
.main-nav li{
    text-align: center;
    padding: 10px 15px;
    margin: 15px 0px;
}

.main-nav li{
    background-color: #FFFFFF;
    font-size: 2rem;
    display: block;
}

.card {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pf-heading {
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
}

.bn-text {
    color: #7F7F7F;
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;

}

.pf-pic {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.pf-imgs {
    max-width: 100%;
}

/* footer styles */

footer {
    background-color: #FAFAFA;
    color: #7F7F7F;
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
}

.contact {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.ct-heading {
    margin: 0;
}

.main-footer {
    border-top: 1px solid #E7E7E7;
}

.footer-nav {
    display: none;
}

.st-name {
    float: left;
}

.btt-link {
    float: right;
    margin: 16px 0px;
}


/* media queries */

    @media only screen and (min-width: 768px) {

        .container {
            width: 85%;
            margin: 0 auto;
        }

        .main-nav {
            text-align: center;
        }

        .main-nav li {
            display: inline-block;
        }

        .banner {
            float: right;
        }

        .pf-pic {
            margin: 0;
            display: inline-block;
            float: right;
        }

        .pf-div {
            width: 50%;
        }

        .col-1, .col-3, .col-5 {
            float: left;
            padding-right: 1rem;
        }

        .col-2, .col-4, .col-6 {
            float: right;
            padding-left: 1rem;
        }
        
        .bn-text {
            overflow: hidden;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
          }

        .btt-link {
            display: none;
        }

        .footer-nav {
            display: block;
            float: right;
            margin: 16px;
        }

        .footer-nav li {
            display: inline-block;
        } 

    }
       
    @media only screen and (min-width: 1024px) {

        .container {
            width: 100%;
            margin: 0 auto;
        }

        .card {
            max-width: 1270px;
            margin: 0 auto;
        }

        .name {
            float: left;
        }

        .main-nav {
            float: right;
        }

        .main-nav li {
            display: inline-block;
        }

        .banner {
            float: right;
        }

        .pf-pic {
            margin: 0;
            display: inline-block;
            float: right;
        }

        .pf-div {
            width: 33%;
        }

        .col-1, .col-4 {
            float: left;
            
        }

        .col-2, .col-3, .col-5, .col-6 {
            float: right;
            
        }

        .bn-text {
            overflow: hidden;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
          }

        .btt-link {
            display: none;
        }

        .footer-nav {
            display: block;
            float: right;
            margin: 16px;
        }

        .footer-nav li {
            display: inline-block;
        } 

    }